*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body
{
    background: linear-gradient(rgba(40, 0, 60, 0.15), rgba(40, 0, 60, 0.45)), url('../static/background.png');
    margin: 0;
    min-height: 100vh;
    background-size: cover;       
    background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

h1 
{
    font-size: 26px;
    text-align: center;
    text-shadow: 1px 1px 2px #d586ff;
    margin-bottom: 60px;
    margin-top: 0;
    padding-top: 40px;
    color: white;
}

h2
{
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px #d586ff;
    padding: 26px;
    color: white;
}

h3
{
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.35);
    padding: 16px;
    color: white;
}

.add-task 
{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 20px;
}

.add-task input 
{
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #d586ff;
}

.add-task input:focus 
{
    border: 2px solid #d586ff;
    outline: none;
    box-shadow: 0 0 14px #d586ff;
}

.add-task button 
{
    padding: 10px 20px;
    font-size: 16px;
    background: #ca69ff;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-task button:hover 
{
    background: #c14eff;
    transform: scale(1.02);
}

.add-task input::placeholder
{
    font-size: 14px;
    color: #999;
}

.board 
{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.column
{
    width: 240px;
    min-height: 300px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.column h3
{
    text-align: center;
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin: -15px -15px 15px -15px;
}

.todo
{
    background: #cfa2ff;
}

.todo h3
{
    background: #b27ffe;
}

.current
{
    background: #f9baff;
}

.current h3
{
    background: #ff8be8;
}

.progress
{
    background: #eda7ff;
}

.progress h3
{
    background: #d586ff;
}

.done
{
    background: #acacff;
}

.done h3
{
    background: #7070ff;
}

.task-list {
    min-height: 300px;
    max-height: 350px;
    overflow-y: auto;
}

.task 
{
    background: white;
    color: #1d1d1d;
    padding: 0;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #deb6ff;
    border-left: 16px solid #deb6ff;
    cursor: move;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    display: flex;
    align-items: stretch;
    overflow-wrap: break-word; 
}

.task:hover 
{
    transform: translateY(-2px) scale(1.02);
    box-shadow:
        0 8px 18px rgba(0,0,0,.2);
}

.task-content
{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
}

.task-content span
{
    overflow-wrap: break-word;
    word-break: break-word;
}

.delete 
{
    margin-left: 12px;
    flex-shrink: 0;
    background: #fffffb;
    color: #0e0e0e;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.delete:hover 
{
    background: #ededed;
}

.completed span 
{
    text-decoration: line-through;
    text-decoration-color: #494949;
    transition: opacity 0.3s ease;
    opacity: 0.7;
    color: #666;
}

#highscore {
    position: absolute;
    top: 25px;
    right: 25px;

    color: white;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px 2px #d586ff;
}

#resetHighscore {
    position: absolute;
    top: 70px;
    right: 15px;

    width: 15px;
    height: 15px;

    border: none;
    border-radius: 50%;
    background: rgba(255,255,255,0.15);
    color: white;

    font-size: 14px;
    cursor: pointer;
}

#resetHighscore:hover {
    background: rgba(255,255,255,0.3);
}